.fundoFormulario {
  height: 600px;
  background-image: url(./imagens/fundoNutrição.jpg);
  background-size: cover;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 2rem;
  margin-left: 2rem;
}
.input{
  margin-top: 2rem;
}
.botaoCalcular {
  margin-top: 2rem;
  width: 25%;
  height: 4rem;
  border-radius: 50px;
  border-style: none;
  margin-left: 2rem;
}
.botaoCalcular:hover{
 cursor: pointer;
}

.whatssap {
 width: 25%;
 height: 4rem;
 margin-left: 2rem;
 background-color: green;
 border-style: none;
 border-radius: 50px;
 display: none;
}
.active {
  display: block;
}


.imagenDessert {
  
  margin-left: 35%;
}

.label {
  color: whitesmoke;
  font-family: 'Inter';

}