.navbar{
  background-color: rgba(213, 195, 150, 1);


}
.navIink {
  font-family: 'Inter'; 
  font-weight: 400;
  color: black;
  margin-right: 1rem;
  text-decoration: none;
  font-size: larger;
}
.navIink:hover{
  color: black;
} 

.whatssap2 {
  width: 100%;
  height: 2rem;
  margin-left: 2rem;
  background-color: green;
  border-style: none;
  border-radius: 40px;
 
 }
